{% extends "base.html" %}

{% block title %}
HDÁgil | Conecte toda a operação da sua empresa
{% endblock %}

{% block content %}

{% include "sections/hero.html" %}

{% include "sections/problema.html" %}

{% include "sections/solucao.html" %}

{% include "sections/jornada.html" %}

{% include "sections/produto.html" %}

{% include "sections/segmentos.html" %}

{% include "sections/inteligencia.html" %}

{% include "sections/integracoes.html" %}

{% include "sections/empresa.html" %}
    
{% include "sections/cta.html" %}

{% endblock %}